/* 全てのセルに罫線をつける */
table,
th,
td {
    border: 1px solid black;
}

/* 基本横方向は全て消す */
table {
    border-collapse: collapse;
}

tr>th,
tr>td {
    border-top: none;
    border-bottom: none;
}

/* thを囲うための罫線は残す */
th {
    border: 1px solid black !important;
}

td,
th {
    padding: 3px;
    width: 30px;
    height: 25px;
}

th {
    background: #f0e6cc;
}

.even {
    background: #fbf8f0;
}

.odd {
    background: #fefcf9;
}

.container {
    display: flex;
    justify-content: space-between; /* コンテンツの間にスペースを追加 */
}

.canvas {
    flex: 1; /* ビジネスモデルキャンパスの領域を広げる */
    margin-right: 20px; /* version_idのリストとの間にマージンを追加 */
}

.versions {
    flex-basis: 200px; /* 過去のversion_idのリストの幅を200pxに設定（適宜調整） */
}

.versions ul {
    list-style-type: disc;
    padding-left: 20px;
}

.versions li {
    margin-bottom: 5px;
}
