<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='cambus.css') }}" rel="stylesheet"/>
</head>
<div class="container">
    <!-- ビジネスモデルキャンパス部分 -->
    <div class="canvas">
        <h1>ビジネスモデルキャンパス</h1>
        <table>
        <tbody>
            <tr>
                <h2>{{ title }}</h2>
                <p>{{ comment }}</p>
            </tr>
            <tr>
                <th colspan="2" rowspan="2" class="width20">KeyPartners</th>
                <th colspan="2" class="width20">KeyActivites</th>
                <th colspan="2" rowspan="2" class="width20">ValueProposition</th>
                <th colspan="2" class="width20">CustomerRelationsships</th>
                <th colspan="2" rowspan="2" class="width20">CustomerSegments</th>
            </tr>
            <tr>
                <td colspan="2" id="key_activity_1" class="width20"></td>
                <td colspan="2" id="customer_relationship_1" class="width20"></td>
            </tr>
            <tr>
                <td colspan="2" id="key_partners_1" class="width20">{{ canvas_data.key_partners | replace("\n", "<br>") | safe  }}</td>
                <td colspan="2" id="key_activity_2" class="width20">{{ canvas_data.key_activity | replace("\n", "<br>") | safe  }}</td>
                <td colspan="2" id="value_proposition_1" class="width20">{{ canvas_data.value_proposition | replace("\n", "<br>") | safe  }}</td>
                <td colspan="2" id="customer_relationship_2" class="width20">{{ canvas_data.customer_relationship | replace("\n", "<br>") | safe  }}</td>
                <td colspan="2" id="customer_segment_1" class="width20">{{ canvas_data.customer_segment | replace("\n", "<br>") | safe  }}</td>
            </tr>
            <tr>
                <td colspan="2" id="key_partners_4" class="width20"></td>
                <th colspan="2" class="width20">KeyResources</th>
                <td colspan="2" id="value_proposition_4" class="width20"></td>
                <th colspan="2" class="width20">Channels</th>
                <td colspan="2" id="customer_segment_4" class="width20"></td>
            </tr>
            <tr>
                <td colspan="2" id="key_partners_5" class="width20"></td>
                <td colspan="2" id="key_resources_1" class="width20">{{ canvas_data.key_resources | replace("\n", "<br>") | safe  }}</td>
                <td colspan="2" id="value_proposition_5" class="width20"></td>
                <td colspan="2" id="channel_1" class="width20">{{ canvas_data.channel | replace("\n", "<br>") | safe  }}</td>
                <td colspan="2" id="customer_segment_5" class="width20"></td>
            </tr>
            <tr>
                <th colspan="5" class="width50">CostStructure</th>
                <th colspan="5" class="width50">RevenueStreams</th>
            </tr>
            <tr>
                <td colspan="5" id="cost_structure_1" class="width50">{{ canvas_data.cost_structure | replace("\n", "<br>") | safe  }}</td>
                <td colspan="5" id="revenue_streams_1" class="width50">{{ canvas_data.revenue_streams | replace("\n", "<br>") | safe  }}</td>
            </tr>
        </table>
        <a href="{{ url_for('edit', version_id=version_id) }}">編集</a>
    </div>
<div class="versions">
    <h2>Past Versions</h2>
        <a href="{{ url_for('delete', version_id=version_id) }}">削除</a>
    <ul>
        {% for version, title in versions %}
            <li><a href="{{ url_for('index', version_id=version) }}">{{ version }}</a> - {{ title }}</li>
        {% endfor %}
    </ul>
</div>
</div>