<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Business Model Canvas</title>
    <link href="{{ url_for('static', filename='edit.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>Edit Business Model Canvas</h1>
    <form action="/save" method="post">
        <table>
            <tbody>
                <tr>
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" value="{{ title }}">
                    <label for="comment">Comment:</label>
                    <textarea name="comment" id="comment">{{ comment }}</textarea>
                </tr>
                <tr>
                    <th colspan="2">Key Partners</th>
                    <th colspan="2">Key Activities</th>
                    <th colspan="2">Value Proposition</th>
                    <th colspan="2">Customer Relationships</th>
                    <th colspan="2">Customer Segments</th>
                </tr>
                <tr>
                    <td colspan="2", rowspan="4"><textarea name="key_partners", class="large-textarea">{{ canvas_data['key_partners'] }}</textarea></td>
                    <td colspan="2"><textarea name="key_activity">{{ canvas_data['key_activity'] }}</textarea></td>
                    <td colspan="2", rowspan="4"><textarea name="value_proposition", class="large-textarea">{{ canvas_data['value_proposition'] }}</textarea></td>
                    <td colspan="2"><textarea name="customer_relationship">{{ canvas_data['customer_relationship'] }}</textarea></td>
                    <td colspan="2", rowspan="4"><textarea name="customer_segment", class="large-textarea">{{ canvas_data['customer_segment'] }}</textarea></td>
                </tr>
                <tr>
                    <th>Key Resources</th>
                    <th></th>
                    <th></th>
                    <th>Channels</th>
                </tr>
                <tr>
                    <td><textarea name="key_resources">{{ canvas_data['key_resources'] }}</textarea></td>
                    <th></th>
                    <th></th>
                    <td><textarea name="channel">{{ canvas_data['channel'] }}</textarea></td>
                </tr>
                    <th colspan="1">Cost Structure</th>
                    <th></th>
                    <th></th>
                    <th colspan="1">Revenue Streams</th>
                <tr></tr>
                <tr>
                    <td colspan="5"><textarea name="cost_structure">{{ canvas_data['cost_structure'] }}</textarea></td>
                    <th></th>
                    <td colspan="5"><textarea name="revenue_streams">{{ canvas_data['revenue_streams'] }}</textarea></td>

                </tr>
            </tbody>
        </table>
        <input type="submit" value="Save">
    </form>
    <a href="/">Back to canvas</a>
</body>
</html>
