<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ビジネスモデルキャンパス</title>
    <link rel="stylesheet" href="cambus.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>ビジネスモデルキャンパス</h1>
    <div id="canvas">
        <!-- ここに各要素を表示 -->
        {% for item in data %}
            <div id="{{ item[0] }}">{{ item[1] }}</div>
        {% endfor %}
    </div>
    <a href="/edit">編集</a>
</body>
</html>
