<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ビジネスモデルキャンパス</title>
    <link rel="stylesheet" href="cambus.css">
</head>
<body>
    <h1>ビジネスモデルキャンパス</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form method="get" action="/">
    <select name="db_name" onchange="this.form.submit()">
        <option value="default.db">Default Database</option>
        {% for db_file in db_files %}
            <option value="{{ db_file }}">{{ db_file }}</option>
        {% endfor %}
    </select>
</form>
    <div id="canvas">
        <!-- ここに各要素を表示 -->
        {% for item in data %}
            <div id="{{ item[0] }}">{{ item[1] }}</div>
        {% endfor %}
    </div>
    <a href="{{ url_for('create_database') }}">Create New Database</a>
</body>
</html>
